<turbo-frame id="track_search">
  <% if lyrics_result %>
    <div class="flex flex-col justify-center items-center p-5 my-10">
      <div class="md:w-2/3 mx-auto">
        <div class="card bg-base-100 shadow-sm">
          <div class="card-body text-center text-black bg-slate-950 rounded-lg text-white border-2 border-pink-600">
            <h2 class="text-3xl font-bold"><%= track_result["track_name"] %></h2>
            <p class="md:text-2xl"><%= track_result["artist_name"] %></p>
            <div class="md:text-xl">
              <%= simple_format(truncate(lyrics_result, length: 50, omission: "...")) %>
            </div>
            <div class="mt-6">
              <!-- turbo_frameの中でのformは、turbo: falseをする。しないとここだけ再描画みたいな形になってしまい、ページのリダイレクトにならない -->
              <%= form_with model: @memo , data: {turbo: false} do |f| %>
                <%= f.hidden_field :song_title, value: track_result["track_name"] %>
                <%= f.hidden_field :artist_name, value: track_result["artist_name"] %>
                <%= f.hidden_field :lyrics, value: lyrics_result %>
                <%= f.submit "この曲にメモする", class: "btn btn-primary btn-block" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p class = "text-white p-10">申し訳ありません。歌詞データが見つかりませんでした。<br>他の曲を検索してください。</p>
  <% end %>
</turbo-frame>