<% provide(:title, "ヘルプページ | UTAMEMO")%>
<div class="mb-4 md:grid md:grid-cols-3">
  <div class="p-5 flex justify-center">
    <div class="bg-slate-950 opacity-90 w-80 shadow-xl rounded-2xl">
      <div class="text-center text-3xl text-white font-bold p-4 m-4">①メモを見てみよう！</div>
      <div class="flex justify-center">
        <%= image_tag "help/新着メモ一覧.png", size: "240x240", class: "" %>
      </div>
      <div class="p-4 text-lg items-center text-center text-white">
        新着メモ一覧から他の人のメモを見ることができます！
      </div>
      <div class="flex justify-center mb-4">
        <%= link_to "新着メモ一覧へ", memos_path, class: "text-white text-sm rounded-full bg-purple-500 px-4 py-3 w-auto inline-block shadow-md hover:bg-purple-600 transition" %>
      </div>
    </div>
  </div>
  <div class="p-5 flex justify-center">
    <div class="card bg-slate-950 opacity-90 w-80 shadow-xl">
      <div class="text-center text-3xl text-white font-bold p-4 m-4">②曲を検索しよう！</div>
      <div class="flex justify-center">
        <%= image_tag "help/API歌詞検索.png", size: "240x240" %>
      </div>
      <div class="p-4 text-lg items-center text-center text-white">
        好きな曲・アーティスト名で検索！<br>※歌詞データが無い曲もあります
      </div>
      <div class="flex justify-center mb-4">
        <button class="text-white text-sm rounded-full bg-purple-500 px-4 py-3 w-auto inline-block shadow-md hover:bg-purple-600 transition" onclick="my_modal_2.showModal()">曲を検索🔍</button>
      </div>
    </div>
  </div>
  <div class="p-5 flex justify-center">
    <div class="card bg-slate-950 opacity-90 w-80 shadow-xl">
      <div class="text-center text-3xl text-white font-bold p-4 m-4">③ログインしよう！</div>
      <div class="flex justify-center">
        <%= image_tag "help/会員登録.png", size: "240x240" %>
      </div>
      <div class="p-4 text-lg items-center text-center text-white">
        <p>好きな曲が見つかったら、会員登録&<br>ログインをして準備完了！</p>
      </div>
      <div class="flex flex-row justify-center gap-4 mb-4">
          <%= link_to "ログイン", new_user_session_path, class: "text-white text-sm rounded-full bg-purple-500 px-4 py-3 w-auto inline-block shadow-md hover:bg-purple-600 transition" %>
          <%= link_to "会員登録", new_user_registration_path, class: "text-white text-sm rounded-full bg-purple-500 px-4 py-3 w-auto inline-block shadow-md hover:bg-purple-600 transition" %>
      </div>
    </div>
  </div>
  <div class="p-5 flex justify-center">
    <div class="card bg-slate-950 opacity-90 w-80 shadow-xl">
      <div class="text-center text-3xl text-white font-bold p-4 m-4">④メモをしよう！</div>
      <div class="flex justify-center">
        <%= image_tag "help/メモ作成.png", size: "240x240" %>
      </div>
      <div class="p-4 text-lg items-center text-center text-white">
        <p>カラオケのテクニックや好きなコメントをメモすることができます！</p>
        <p>こまめに保存ボタンで保存しよう！<br>※ログインが必要です</p>
      </div>
      <div class="flex justify-center mb-4">
        <button class="text-white text-sm rounded-full bg-purple-500 px-4 py-3 w-auto inline-block shadow-md hover:bg-purple-600 transition" onclick="my_modal_2.showModal()">まずは歌詞検索から🔍</button>
      </div>
    </div>
  </div>
  <div class="p-5 flex justify-center">
    <div class="card bg-slate-950 opacity-90 w-80 shadow-xl">
      <div class="text-center text-3xl text-white font-bold p-4 m-4">⑤メモで練習しよう！</div>
      <div class="flex justify-center">
        <%= image_tag "help/マイメモ一覧.png", size: "240x240" %>
      </div>
      <div class="p-4 text-lg items-center text-center text-white">
        <p>マイページから自分のメモリストを<br>確認できます！</p>
      </div>
      <div class="flex justify-center mb-4">
        <% if user_signed_in? %>
          <%= link_to "マイページへ", user_profile_path(current_user.id), class: "text-white text-sm rounded-full bg-purple-500 px-4 py-3 w-auto inline-block shadow-md hover:bg-purple-600 transition" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
