<% provide(:title, "プロフィール編集 | UTAMEMO")%>
<div class="text-center text-3xl p-4 text-white">プロフィール編集</div>
<%= form_with model: @user_profile_form,
             url: user_profile_path,
             local: true,
             data: {turbo: false},
             method: :patch,
             multipart: true do |f| %>

  <!-- エラー表示 -->
  <% if @user_profile_form.errors.any? %>
    <ul>
      <% @user_profile_form.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="md:mx-auto md:w-2/3 ">
    <div class="flex flex-col items-center justify-center p-4 mx-4 md:my-4 md:mx-30 border border-pink-600 border-2 rounded-3xl ">
      <div class="flex flex-col p-4">
        <%= f.label("ニックネーム", class: "text-white md:text-2xl") %>
        <%= f.text_field :nickname,
          class: "text-lg p-2 rounded-lg border-2 border-pink-600 bg-gray-300 text-purple-600 placeholder-purple-500 focus:outline-none focus:ring-2 focus:ring-purple-500 w-full" %>
      </div>
      
      <div class="flex flex-col md:flex-row">
        <div class="flex flex-col items-center justify-center p-2">
          <div class="text-white md:text-2xl">現在のプロフィール画像</div>
          <% if @profile.image.attached? %>
            <%= image_tag @profile.image, size: "100x100", class: "rounded-box"  %>
          <% else %>
            <%= image_tag "アイコン_デフォルト.png", size: "100x100"%>
          <% end %>
        </div>

        <div class="flex flex-col items-center justify-center p-4">
          <%= f.label("変更後のプロフィール画像", class: "text-white md:text-2xl") %>
          <%= f.file_field :image , class: "text-white md:text-2xl" %>
        </div>
      </div>

      <div class="p-4 flex flex-row space-x-2">
        <%= link_to "戻る", user_profile_path(@profile.id), class: "btn" %>
        <%= f.submit "保存" ,class: "btn mb-2 md:text-2xl" %>
      </div>
    </div>
  </div>

<% end %>