<% provide(:title, "マイメモ一覧 | UTAMEMO")%>
<!-- マイメモ一覧-->
<div class="p-4 text-3xl text-white font-bold tracking-wide text-center">マイメモ一覧</div>
<div class="md:px-20">
  <div class="p-4 text-center flex flex-col items-center space-y-3">
    <% @my_memos.each do |my_memo| %>
      <div class="flex flex-row w-full items-center justify-center space-x-2">
        <div class="w-[280px] md:w-[800px]">
          <%= button_to memo_path(my_memo.id),
                        { method: :get, class: "list block w-full bg-base-100 rounded-box shadow-md p-3" } do %>    
              <div class="flex flex-row items-center md:space-x-20">
                <div>
                  <% if my_memo.user.profile&.image&.attached? %>
                    <%= image_tag my_memo.user.profile.image, class: "rounded-full", size: "70x70"  %>
                  <% else %>
                    <%= image_tag "アイコン_デフォルト.png", class: "rounded-full", size: "70x70" %>
                  <% end %>
                </div>
                <div class="w-full md:flex md:flex-row md:justify-between">
                  <div class="">
                    <div class="uppercase font-semibold opacity-60 md:text-2xl md:text-start md:ml-5"><%= my_memo[:artist_name] %></div>
                    <div class="uppercase font-semibold opacity-60 md:text-2xl md:text-start md:ml-5"><%= my_memo[:song_title] %></div>
                    <div class="uppercase text-black font-bold opacity-60 md:text-2xl md:text-start md:ml-5"><%= my_memo[:memo_title] %></div>
                  </div>
                  <div class="flex flex-row items-center justify-center space-x-1 md:space-x-5">
                    <% if my_memo.publish %>
                      <i class="fa-solid fa-lock-open md:text-3xl published"></i>
                    <% else %>
                      <i class="fa-solid fa-lock md:text-3xl md:pr-2 not-published"></i>
                    <% end %>
                    <div class="flex flex-row items-center md:space-x-2">
                      <i class="fa-solid fa-heart text-pink-500 md:text-3xl pr-1"></i>
                      <div class="md:text-3xl"><%= my_memo.favorites.count %></div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <div>
          <%= button_to memo_path(my_memo.id),
            method: :delete,
            data: { confirm: "本当に削除しますか？", method: "delete" , turbo: false},
            class: "w-10 h-10 bg-red-700 text-white rounded-full flex items-center justify-center shadow-md inline-block delete-button" do %>
            <i class="fas fa-trash text-2xl p-3 md:text-3xl"></i>
          <% end %>
        </div>

      </div>           
    <% end %>
  </div>
  <!-- ページネーション -->
  <div class="text-center m-4">
    <%= paginate @my_memos %>
  </div>
  <div class="text-center md:text-2xl my-4">
    <%= link_to "マイページに戻る", user_profile_path(@profile.id), class: "btn" %>
  </div>
</div>
