<% provide(:title, "マイページ | UTAMEMO")%>
<div class="flex flex-col">
  <!-- プロフィール -->
  <div class="mb-5 text-white">
    <div class="p-4 mb-2 text-3xl font-bold tracking-wide text-center">マイページ</div>
    <!-- プロフィール画像とニックネーム -->
    <div class=" border border-pink-600 border-2 rounded-3xl bg-slate-950 m-4 p-4 md:w-2/3 md:mx-auto">
      <div class="flex flex-row items-center justify-center space-x-2 md:space-x-10 p-4 mt-4">
        <% if @profile.image.attached? %>
          <%= image_tag @profile.image, class: "rounded-box w-24 md:w-40"  %>
        <% else %>
          <%= image_tag "アイコン_デフォルト.png", class: "rounded-box w-24 md:w-40" %>
        <% end %>
        <div class="flex flex-col items-center justify-center">
          <div class="md:text-2xl">ニックネーム</div>
          <div class="md:text-2xl"><%= current_user.nickname %></div>
        </div>
      </div>
      <div class="flex flex-col space-y-3 items-center p-5 md:p-10 ">
        <%= link_to "プロフィールを編集", edit_user_profile_path, class: "btn" %>
        <%= link_to "マイメモ一覧", my_memos_user_profile_path(@profile.user_id), class: "btn" %>
      </div>
    </div>

  </div>
</div>