<% provide(:title, "新着メモ一覧 | UTAMEMO")%>
<div class="p-4 text-3xl text-white font-bold text-center">新着メモ一覧</div>
<div class="p-4 flex flex-col items-center space-y-2">
  <% @memos.each do |memo| %>
    <div class="items-center w-[330px] md:w-[800px] mx-auto">
      <%= button_to memo_path(memo.id), { method: :get, class: "w-full mx-auto bg-base-100 rounded-box shadow-md p-4" } do %>    
        <div class="flex flex-row items-center justify-between">
          <div class="flex flex-row items-center space-x-2 md:space-x-10 w-[250px] md:w-full">
            <div>
              <% if memo.user.profile&.image&.attached? %>
                <%= image_tag memo.user.profile.image, size: "70x70", class: "rounded-box" %>
              <% else %>
                <%= image_tag "アイコン_デフォルト.png", size: "70x70", class: "rounded-box" %>
              <% end %>
            </div>
            <div class="md:flex md:flex-row md:items-center">
              <div class="text-xl font-bold md:text-2xl text-start md:w-[250px]"><%= memo.user.nickname %></div>
              <div>
                <div class="uppercase font-semibold opacity-60 md:text-2xl text-start"><%= memo[:artist_name] %></div>
                <div class="uppercase font-semibold opacity-60 md:text-2xl text-start"><%= memo[:song_title] %></div>
              </div>
            </div>
          </div>
          <div id="memo_<%= memo.id %>_favorite" class="text-2xl">
            <%= render "memos/favorite", memo: memo %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>