<% provide(:title, "#{@memo[:song_title]} | UTAMEMO")%>
<div class="flex flex-col items-center text-white bg-purple-500 p-2 text-center rounded-full">
  <div class="font-bold space-x-2 text-lg">
    <%= @memo[:artist_name] %>  /  <%= @memo[:song_title] %>
  </div>
  <div class="flex flex-col items-center">
    <div>created_by: <%= @memo.user[:nickname] %></div>
    <div class="mt-2 flex flex-row space-x-2 items-center">
      <% if @memo.publish %>
        <% twitter_share_url = 
          "https://twitter.com/intent/tweet?url=#{URI.encode_www_form_component(memo_url(@memo))}
          &text=#{@memo.user.nickname}さんのUTAMEMO！
          &hashtags=#{remove_invalid_chars(@memo[:artist_name])},
          #{remove_invalid_chars(@memo[:song_title])},
          UTAMEMO"%>
          
        <%= link_to twitter_share_url,
          target: "_blank",
          data: {toggle: "tooltip", placement: "bottom"},
          title: "Xでシェア" do %>
          <i class="fa-brands fa-square-x-twitter fa-2xl"></i>
        <% end %>
      <% end %>
      <% if !!current_user && current_user.id == @memo.user_id %>
        <%= link_to edit_memo_settings_path(@memo.id) do %>
          <!-- 設定ページへ遷移して公開設定を保存 -->
          <div><i class="fa-solid fa-gear text-3xl" id="menu-button"></i></div>
        <% end %>
      <% else %>
        <div id="memo_<%= @memo.id %>_favorite", class="text-lg">
          <%= render "memos/favorite", memo: @memo %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="flex justify-center items-center">
  <div class="flex-1 overflow-auto pb-20 max-w-[335px] justify-center items-center border border-2 border-pink-600 my-5 rounded-xl">
    <!-- 表示ユーザーによってツールバーの表示・非表示を分岐 -->
    <% if !!current_user && current_user.id == @memo.user_id %>
      <%= react_component("MyMemos", {memo: @memo.as_json(only:[:id, :memo_components])}, data: { turbo: false })%>
    <% else %>
      <%= react_component("OtherMemos", {memo: @memo.as_json(only:[:id, :memo_components])}, data: { turbo: false })%>
    <% end %>
    

    <!-- 歌詞の取得と整形 -->
    <%= turbo_frame_tag "lyrics", src: memo_path(@memo.id) do %>
      <div class="text-center text-3xl text-white">
        読み込み中...
      </div>
    <% end %>
  </div>
</div>