<div class="flex flex-col items-center text-white bg-purple-500 p-2 text-center rounded-full">
  <div class="flex flex-row items-center font-bold space-x-2 text-lg">
    <div>
      <%= @memo[:artist_name] %>  /
    </div>
    <div>
      <%= @memo[:song_title] %>
    </div>
  </div>
  <div>
    created_by: <%= @memo.user[:nickname] %>
  </div>
</div>
<div class="flex-1 overflow-auto pb-20">
  <% if !!current_user && current_user.id == @memo.user_id %>
    <% provide(:title, "メモ作成 | UTAMEMO")%>
    <%= react_component("MyMemos", {memo: @memo.as_json(only:[:id, :memo_components])}, data: { turbo: false })%>
  <% else %>
    <% provide(:title, "新着メモプレビュー | UTAMEMO")%>
    <%= react_component("OtherMemos", {memo: @memo.as_json(only:[:id, :memo_components])}, data: { turbo: false })%>
  <% end %>
  <% if @lyrics_result %>
        <% @lyrics_result = (@lyrics_result.split(/\*{7,}/).first.strip) %>
    <div class="mx-5 mt-10 mb-10 pt-10 text-white text-2xl"><%= simple_format(h(@lyrics_result.gsub(/\n/,'<br><br><br><br><br>').html_safe)) %></div>
    <div class="text-white font-bold text-3xl py-10 m-10 text-center border-2 border-white">
      申し訳ありません。<br>
      ライセンスの関係で、歌詞の取得がここまでしかできません。
    </div>
  <% else %>
    あれ、なんで取れないんだろうね。。。
  <% end %>
</div>
